*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #a1a3eb, #bd64ed);
    color: #2d2d2d;
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: center;   
    position: relative;        
    padding: 20px 0;
    background-color: #031949;
}

.nav-links{
    display: flex;
    gap: 40px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    font-size: 18px;
}

.nav-links a:hover{
    color: #38bdf8;
}


.nav-image{
    position: absolute;
    right: 60px;
}

.nav-image img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}


.hero{
    padding: 140px 120px;
    max-width: 1000px;
}

.hero-text h1{
    font-size: 55px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.title{
    font-size: 24px;
    margin-bottom: 30px;
    color: #1f2937;
}

.description{
    font-size: 19px;
    line-height: 1.8;
    max-width: 700px;
}